--title-bar-bg: var(--titlebar-color);   /* the background of the title bar with window actions on it */

/* 'Chat Networks' 'tab' in the 'Settings' dialog*/

.mx_SettingsDialog_content > .mx_TabbedView > .mx_TabbedView_tabLabels > .mx_TabbedView_tabLabel:has(> span.mx_UserSettingsDialog_chatSettingsIcon) > .mx_TabbedView_tabLabel_text::after {
    content: "🔗";
    margin-left: 16px;
  }

  /* Ensure full image preview is visible, rather than a zoomed part of it */
.mx_EventTile_image .mx_MImageBody img.mx_MImageBody_thumbnail {
    object-fit: contain !important;
  }

  /* title bar */
.bp_TitleBar {
   background-color: var(--title-bar-bg);
}

html {
    --theme-chat-background-image: url("https://imjosh.in/images/beeper/bubbly-bg-light.png");

    --theme-borderwidth: 0;
    --theme-borderradius: 13px;
    --theme-bubble-padding-v: 8px;
    --theme-bubble-padding-h: 12px;

    --titlebar-color: #FFFFFF;

    --chatview__backgroundimage: var(--theme-chat-background-image);

    --chatview__fontsize: 2.2rem;
    --chatview__lineheight: var(--chatview__fontsize);
    --chatview__paddingleft: var(--size-spacing-400);
    --chatview__paddingright: var(--size-spacing-400);

    --chatview__message_group__margintop: 12px;

    --chatview__message__paddingleft: var(--theme-bubble-padding-h);
    --chatview__message__paddingright: var(--theme-bubble-padding-h);
    --chatview__message__paddingtop: var(--theme-bubble-padding-v);
    --chatview__message__paddingbottom: var(--theme-bubble-padding-v);
    --chatview__message__marginleft: 4px;
    --chatview__message__marginright: 4px;
    --chatview__message__margintop: 4px;

    --chatview__message__borderradius: var(--theme-borderradius);
    --chatview__message_sharp__borderradius: var(--theme-borderradius);
}

html[theme="dark"] {
    --titlebar-color: #0d0d0d;
    --theme-chat-background-image: url("https://imjosh.in/images/beeper/bubbly-bg-dark.png");
}